@tailwind base;
@tailwind components;
@tailwind utilities;

/* Definition of the design system. All colors, gradients, fonts, etc should be defined here. 
All colors MUST be HSL.
*/

@layer base {
  :root {
    --background: 350 100% 97%;
    --foreground: 348 75% 25%;

    --card: 0 0% 100%;
    --card-foreground: 348 75% 25%;

    --popover: 0 0% 100%;
    --popover-foreground: 348 75% 25%;

    --primary: 348 75% 35%;
    --primary-foreground: 0 0% 100%;

    --secondary: 348 100% 90%;
    --secondary-foreground: 348 75% 25%;

    --muted: 350 100% 95%;
    --muted-foreground: 348 40% 50%;

    --accent: 348 83% 55%;
    --accent-foreground: 0 0% 100%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 350 100% 90%;
    --input: 350 100% 95%;
    --ring: 348 75% 35%;

    --radius: 1rem;

    --sidebar-background: 0 0% 98%;

    --sidebar-foreground: 240 5.3% 26.1%;

    --sidebar-primary: 240 5.9% 10%;

    --sidebar-primary-foreground: 0 0% 98%;

    --sidebar-accent: 240 4.8% 95.9%;

    --sidebar-accent-foreground: 240 5.9% 10%;

    --sidebar-border: 220 13% 91%;

    --sidebar-ring: 217.2 91.2% 59.8%;
  }

  .dark {
    --background: 348 75% 15%;
    --foreground: 350 100% 97%;

    --card: 348 75% 20%;
    --card-foreground: 350 100% 97%;

    --popover: 348 75% 20%;
    --popover-foreground: 350 100% 97%;

    --primary: 350 100% 97%;
    --primary-foreground: 348 75% 35%;

    --secondary: 348 50% 25%;
    --secondary-foreground: 350 100% 97%;

    --muted: 348 50% 25%;
    --muted-foreground: 350 50% 75%;

    --accent: 348 83% 55%;
    --accent-foreground: 0 0% 100%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 348 50% 25%;
    --input: 348 50% 25%;
    --ring: 348 83% 55%;
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}
